/*
*
* @author Guilherme Brandão
* @version 0.1 
*/
/* ===================== Typography ===================== */

h1, h2, h3, h4, h5, h6{margin: 10px; padding: 0;}

/* ===================== Layout ===================== */

body{background-color: #e4f4f1;}

.jogo{margin-top: 30px;}

.container{margin-top: 20px;}

.titulo{display: table;	margin: 0 auto;}

.posicao{display: inline-block;	position: relative;	float: right;}

.img-balao{display: table; margin: 7px auto; padding: 0px;}

.cronometro{display: table;	margin: 0 auto;}

#cronometro{
	font-size: 30px;
    position: absolute;
    margin-top: 180px;
    margin-left: -25px;
    color: red;    
}

.background_cronometro{padding: 40px; display: table; margin: 0 auto;}

.background_pontos{display: table; margin: 0 auto;}

.pontos{font-size: 30px; position: absolute; margin-top: 21px; margin-left: 58px;}

.cenario{background: url(../imagens/baloes_fundo2.png) no-repeat; background-position: center; display: table; margin: 0 auto;}