/*
*
* @author Guilherme Brandão
* @version 0.1 
*/
/* ===================== Typography ===================== */
h1{font-size: 100px; font-weight: 900; letter-spacing: -0.05em; margin-bottom: 50px;}
h2{font-size: 50px; font-weight: 700; letter-spacing: -0.04em;}
h3{font-size: 30px; font-weight: 700; letter-spacing: -0.04em;}
section#service h2, section#service h3{color: #7c25f8}
section#resources h3{color: #9bf0e1;}
footer#footer h4{color: #919496; font-size: 12px; text-transform: uppercase;}

/* ===================== Layout ===================== */
html, body, .banner{height: 100%;}

body{
	background: url('../img/capa.png'), url('../img/ruido.png'),linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/* -- Navbar -- */
.img-logo{
	height: 40px; 
	width: 132px;
	display: block; 
    background: url(../img/spotify.svg) no-repeat;
	background-size: contain;
	color: transparent;
}
nav.navbar-transparent{padding: 15px 0px; background: rgba(0, 0, 0, 0.6); border: none;}
nav a.navbar-brand{padding: 5px 15px;}
nav ul li.divisor{width: 1px; height: 16px; background: #fff; margin: 16px 10px}
nav.navbar-inverse .navbar-nav>li>a{color: #fff}
nav.navbar-inverse .navbar-nav>li>a:hover{color: #9BF0E1}

/* -- Background layout -- */
.banner{display: table; width: 100%;}
.banner>.banner-text{text-align: center; color: #fff; display: table-cell; vertical-align: middle;}

/* -- Banner buttons --*/
.banner>.banner-text>a.btn-custom{
	color: #fff; 
	border-radius: 500px; 
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px; 
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: background 0.5s, color 0.5s;
}
.banner>.banner-text>a.btn-purpple{background: #7c25f8;}
.banner>.banner-text>a.btn-purpple:hover{background-color: #6207e3; color: #fff;}

.banner>.banner-text>a.btn-white{border: 2px solid #fff;}
.banner>.banner-text>a.btn-white:hover{background-color: #fff; color: #000;}

/* -- Content --*/
section#service{background: #fff; padding-top: 20px; padding-bottom: 20px;}
section#service .album{padding: 10px 0px 10px 0px;}
section#service p{font-size: 15px;}

/* -- Resources --*/
section#resources{padding-top: 20px; padding-bottom: 20px; color: #fff;}
section#resources .to-rotate{transform: rotate(30deg); padding-left: 80px;}

/* -- Footer --*/
footer{background: #000; padding: 50px 0px 20px 0px; position: relative;}
footer#footer .nav>li>a{color: #fff;}
footer#footer .nav>li>a:hover{color: #9BF0E1; background: none;}
footer#footer .nav>li.item-social-networks{float: right;}